@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-body-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

.playwrite-span-font{
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
body{
   background-color: black;
}
.header{
  margin: 2rem 6rem 0 6rem;
}
/* navbar styles */
.font-color{
  font-style: italic;
  color: rgb(230, 83, 60);
  font-size: 2.2rem;
  font-weight: 800;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-info{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  color: white;
  border: 1px solid  rgba(255, 255, 255, 0.1) ;
  border-radius: 2rem;
  padding: 0px 20px 0px 10px;
}
.nav-info p {
  font-size: 1rem;
  font-weight: 400;
}
.btn-home{
  height: 2rem;
  padding: 2px 20px;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(230, 83, 60);
}
.lines{
  display: none;
}
/* stay healthy section styles */
h1{
  color: white;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.stay-healthy-section{
  margin-left: 6rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.stay-healthy-text{
  width: 400px;
  height: auto;
}
.stay-healthy-p{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.btn-join{
  font-weight: 400;
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 9px 26px;
  border: none;
  background-color: rgb(230, 83, 60);
  border-radius: 25px;
  color: rgb(255, 255, 255);
}
.btn-download{
  font-weight: 400;
  font-size: 0.7rem;
  padding: 8px 26px;
  border: solid 1px white;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}
.part-2{

  margin-right: 6rem;
}
.stay-healthy-img{
  object-fit: cover;

}
.card-1{
  padding: 16px 40px;
  font-size: 1.3rem;
  font-weight: 900;
  background-color:rgba(48, 48, 48, 0.54);
  border:1px solid rgba(255, 255, 255, 0.1);
  color: white;
  position: absolute;
  margin-top: 400px;
 border-radius: 12px;
 margin-left: -70px;
}
.card-1 span{
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 20px;
}
.card-2{
  text-align: start;
  padding: 12px  30px;
  font-size: 1.5rem;
  font-weight: 900;
  background-color:rgba(48, 48, 48, 0.54);
  border:1px solid rgba(255, 255, 255, 0.1);
  color: white;
  position: absolute;
 margin-left: -110px;
 margin-top: 140px;
border-radius: 12px;
}
.card-2 span{
  font-size: 0.7rem;
  font-weight: 400;
 
}
.card-flex{
  display: flex;

}
.circle{
  background-color: rgb(230, 83, 60);
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  color: white;
  position: absolute;
 margin-left: -50px;
 margin-top: 425px;
border-radius: 50px;
}

/* excercise-section */
.change-habit-description{
  color: white;
  text-align: center;
  margin: 2rem 6rem 0 6rem;
  
}
.excercise-section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  color: white;
  margin: 2rem 6rem 0 6rem;
}
.excercise-img{
  border-radius: 50%;
}
.img-container{
  border-color: rgb(39, 39, 39);
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  height: 180px;
  width: 181px;
  margin-left: 45px;
}
.excercise-section p , .excercise-section h4{
  text-align: center;
}
.excercise-section h4{
  font-size: 1rem;
  font-weight: 600;

}
.excercise-section p{
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  width: 200px;
  margin-left: 40px;
  color: rgba(255, 255, 255, 0.5);
}
.change-habit-heading{
  font-size: 2rem;
  font-weight: 800;
}
.change-habit-text{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
/* running section */
.running-part{
  margin: 2rem 6rem 0 6rem;
  background-color: rgb(34, 34, 34);
  height: 370px;
  border-radius: 18px;
}
.running-part-container{
  display: flex;
  gap: 150px;
  padding: 30px;
  margin-left: 50px;
}
.running-description{
 height: 290px;
 width: 100%;
}
.running-heading{
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin-bottom: 10px;
}
.running-text{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.running-part button {
  font-size: 1rem;
  color: white;
  padding: 10px 70px;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 50px;
}
.running-img-2{
  display: none;
}
/* BMI calculator styles */
.cal-heading{
  margin-left: 350px;
  margin-right: 350px;
  color: white;
}
.cal-heading h3{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.cal-heading p{
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
/* calculator-part */
.calculator-part{
  height: 500px;
  background-color: rgb(34, 34, 34);
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 2rem 6rem 0 6rem;
}
table {
  font-size: 0.8rem;
  border-collapse: collapse;
}
table tr td {
color: rgba(255, 255, 255, 0.5);
}
table tr th {
  text-align: start;
}
td,th {
  border: 1px solid rgb(68, 67, 67);
  padding: 13px 40px;
}
table caption {
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: start;
}
.flex-part-cal{
 width: 50%;
}
.input-info  h3{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 800;
}
.input-info{
  margin-left: 12px;
}
.input-info p{
  color: rgba(255, 255, 255, 0.5);
}

#first-input{
  display: flex;

}
.input-1{
  padding: 20px 60px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(51, 51, 51);
}
.input-2{
  padding: 20px 60px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(51, 51, 51);
}
#sec-input{
  display: flex;

}
.input-3{
  padding: 20px 60px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(51, 51, 51);
}
.input-4{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 165px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(51, 51, 51);
}
.third-input{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 332px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 8px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(51, 51, 51);
}
.calculate-btn{
  margin-top: 30px;
  margin-left: 10px;
  padding: 15px 70px;
  border: none;
  background-color: rgb(230, 83, 60);
  color: white;
  border-radius: 30px;
}
/* our team styles */
.team-heading{
  color: white;
  text-align: center;
}
.team-heading h3{
  font-size: 3rem;
  font-weight: 800;
}
.team-heading p{
  color: rgba(255, 255, 255, 0.5);
}
/* Trainers images style */
.team-img-container{
  margin: 2rem 6rem 0 6rem;
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  border-radius: 15px;
}
.team-images-flex-1{
  height: auto;
display: flex;
margin-left: 4px;
margin-top: 0px;
}
.team-images-flex-1 img {
 padding-left: 10px;
 padding-top: 20px;
 padding-right: 0px;
 padding-bottom: 12px;
 margin-left: 10px;
}
.team-images-flex-2{
  height: auto;
display: flex;
margin-left: 4px;
margin-top: 0px;
}
.team-images-flex-2 img {
 padding-left: 10px;
 padding-top: 10px;
 padding-right: 0px;
 padding-bottom: 25px;
 margin-left: 10px;
}
/* footer */
.footer-section{
  background-color: rgb(34, 34, 34);
  height: auto;
}
.footer{ 
  text-align: start;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr); 
}
.footer li{
  list-style: none;
}

.footer-container-1{
  color: white;
  margin: 2rem 7rem 0 7rem;
  color:rgba(255, 255, 255, 0.5);
  width: 400px;
}
.footer-container-1 h2 {
  font-style: italic;
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0;
  color: rgb(230, 83, 60);
}
.footer-container-2{
  color: white;
}
.footer-container-2 h3{
  font-size: 2rem;
  font-weight: 800;
  margin-top: 40px;
}
.footer-container-2 li{
  margin-bottom: 10px;
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}

.footer-container-3 ul {
  padding: 0;
}

.footer-container-2 ul {
  padding: 0;
}

.footer-container-3{
  color: white;

}
.footer-container-3 li{
  margin-bottom: 10px;
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.footer-container-3 h3{
  font-size: 2rem;
  font-weight: 800;
  margin-top: 40px;
}
hr{
  border: solid 1px;
  color: rgba(255, 255, 255, 0.1);
  margin: 2rem 6rem 0 6rem;
}
.footer-last-line{
  text-align: center;
  color:rgba(255, 255, 255, 0.5);
  padding-bottom: 40px;
}

@media  screen and (max-width: 576px) {
  .header{
    margin: 3rem 0 0 1rem ;
  }
  .nav-info{
    display: none;
  }
  .lines{
    display: flex;
    margin-right: 0.5rem;
  }
  /* stay healthy */
  .stay-healthy-section{
    margin-left: 1rem;
    height: auto;
    flex-direction: column;
  }
  h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 150px;
  }
  .stay-healthy-p{
    margin-right: 110px;
  }
  .btn-join{
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .btn-download{
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .card-1{
    margin-top: 250px;
   margin-left: 0;
  }
  .card-2{
    text-align: start;
    padding: 12px  30px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color:rgba(48, 48, 48, 0.54);
    border:1px solid rgba(255, 255, 255, 0.1);
    color: white;
    position: absolute;
   margin-left: 200px;
   margin-top: -540px;
  border-radius: 12px;
  }



  .excercise-section{
 
    grid-template-columns: repeat(1,1fr);
    color: white;
    margin-left: 60px;
    gap: 50px;
  }
  .change-habit-description{
    margin: 18px;   
  }
  .change-habit-heading{
    font-size: 2.2rem;
    font-weight: 900;
    width: 100%;
    margin: 0;
  }
  .change-habit-text{
   margin-bottom: 70px;
  }
  .excercise-section h4{
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 8px;
  }
  .excercise-section p{
    margin-top: 0;
  }
  .running-part{
    background-color: rgb(34, 34, 34);
    height: auto;
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .running-part-container{
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding-left: 15px;
  }
  .running-img-2{
    height: 100px;
    width: 350px;

  }
  .running-description{
    height: 300px;
    width: 280;

   }
   .running-heading{
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .running-part button {
    width: 340px;
    height: 55px;
    font-size: 1.2rem;
    padding: 0;
    border-radius: 50px;
  }
  .cal-heading{
    margin-left: 10px;
    margin-right: 0px;
  }
  .cal-heading h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .cal-heading p{
    letter-spacing: 0.3px;
  }
  .calculator-part{
    height: auto;
    flex-direction: column;
    gap: 50px;
    padding: 0 0 0 25px;

  }
  td,th {
    border: 1px solid rgb(68, 67, 67);
    padding-top: 8px ;
    padding-bottom: 8px;
    padding-left: 10;
    padding-right: 30px;

  }
  table {
    font-size: 0.5rem;
    text-align: start;
  }
  table caption {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;   
  }
  .flex-part-cal{
    width: 100%;
   }
   .input-info  h3{
     margin: 0px ;
     font-size: 1.3rem;
   }
   #first-input{
    display: flex;
    gap: 10px;
  }
   .input-1{
    text-align: center;
    height: 40px;
    width: 45%;
    padding: 0px ;
    margin: 0px;
    border-radius: 5px;
  }
  .input-2{
   text-align: center;
    height: 40px;
    width: 45%;
    padding: 0;
    margin: 0px;
    border-radius: 5px;
  }
   #sec-input{
    display: flex;
    gap: 10px;
  }
   .input-3{
    text-align: center;
    height: 40px;
    width: 45%;
    padding: 0px ;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
  }
  .input-4{
   text-align: center;
    height: 40px;
    width: 45%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
  }
  .third-input{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 150px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 5px;   
  }
  .calculate-btn{
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 10px 40px;
    border: none;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 30px;
  }
  /* Team section responsive */
  .team-heading{
    margin: 15px 15px;
  }
  .team-heading h3{
    margin-bottom: 0px;
    font-size: 2rem;
    font-weight: 800;
  }
  .team-img-container{
    padding-bottom: 14px;
  }
  .team-images-flex-1{
    flex-direction: column;
  }
  .team-images-flex-2{
    flex-direction: column;
  }
  .team-img-container{
    margin: 15px 15px;
  }
  .team-images-flex-1 img {
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-top: 20px;
    margin-left: 10px;
   }
  .team-images-flex-2 img {
    padding-right: 24px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 8px;
   }

  /* footer section responsive */
  .footer{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  }
  .footer-container-1 h2{
    margin: 0;
  }
  .footer-container-1 ,   .footer-container-2 ,   .footer-container-3{
    margin: 50px 0px 0px 10px;
  }
  hr{
    margin: 0;
  }
  .footer-last-line{
    text-align: start;
    margin-left: 10px;
    font-size: 1.3rem;
  }
  .footer-container-2{
    margin-top: 0;
  }
  .footer-container-3{
    margin-top: 0;
  }
}